obj/
bin/
target/
libs/
.idea/
build/

*.map
*.dll
*.class
*.swp
*.orig
*.log
*.suo
*.user
*.iml
*.log

/D209007/AP/DZ/DF/DFBatch/nbproject/private/
/D209007/AP/AB/JavaApplication44/nbproject/private/
